import /init.recovery.trustkernel.rc
import /vendor/etc/init/android.hardware.gatekeeper@1.0-service.rc
import /vendor/etc/init/android.hardware.keymaster@4.0-service.trustkernel.rc
import /vendor/etc/init/vendor.mediatek.hardware.keymaster_attestation@1.1-service.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on post-fs
    start hwservicemanager
    start servicemanager

    # Fix OF installer
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    # Support A/B feature for emmc boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils


service hwservicemanager /system/bin/hwservicemanager
    user root
    group root
    onrestart setprop hwservicemanager.ready false
    disabled
    seclabel u:r:recovery:s0

on init
    start vndservicemanager

service vndservicemanager /system/bin/vndservicemanager /dev/vndbinder
    disabled
    user root
    group root readproc
    writepid /dev/cpuset/system-background/tasks
    shutdown critical
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

on fs
    install_keyring

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0


    
on boot
    start boot-hal-1-1
    start health-hal-2-1

on init
    #create mountpoint for /mnt/vendor/persist partition
    mkdir /mnt/vendor/persist 0771 root root

on post-fs
    chown root root /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist
    
on property:hwservicemanager.ready=true
    write /proc/bootprof "tkcore: start decryption services"
    start vendor.keymaster-4-0-trustkernel
    start vendor.gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop tee_check_keybox
    stop teed
    stop servicemanager
    stop hwservicemanager
    stop vendor.keymaster-4-0-trustkernel
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop tee_check_keybox
    stop teed
    stop servicemanager
    stop hwservicemanager
    stop vendor.keymaster-4-0-trustkernel
    stop vendor.gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop tee_check_keybox
    stop teed
    stop servicemanager
    stop hwservicemanager
    stop vendor.keymaster-4-0-trustkernel
    stop vendor.gatekeeper-1-0
