service teed /system/bin/teed \
    --datapath /data/vendor/t6/fs \
    --sptapath /data/vendor/t6/app \
    --systapath /vendor/app/t6 \
    --rpmbdev /dev/mmcblk0rpmb \
    --rpmbdev /dev/rpmb0 \
    --prot /mnt/vendor/persist/t6 \
    --prot /mnt/vendor/protect_f/tee \
    --logpath /data/vendor/t6/tkcore.log \
    --proprefix vendor.trustkernel
	capabilities SYS_RAWIO
	user root
	group root
	class core
	seclabel u:r:recovery:s0

service tee_check_keybox /system/bin/tee_check_keybox
       user root
       group root
       class main
       disabled
       oneshot
       seclabel u:r:recovery:s0
